<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular Spreadsheet</title>
  
  <style type="text/css">
  		body{
  			font-family: sans-serif;
  		}
	  .output, .input{
	  	font-size: 10pt;
	  	position: absolute;
/*	  	height: 1.2em;
*/	  	height: 14pt;
		width:50pt;
		overflow: hidden;
	  	padding-left: 4pt;
	  }
	  .output{
	  	background: white;
	  	pointer-events:none;
	  	padding-top: 2pt;
	  }
	  .input{
	  	border: none;
	  }
	  input:focus + .output{
	  	display: none;
	  }
	  td > div{
	  	width: 55pt;
	  	height: 16pt;
	  }
	  td{
	  	border: 1px solid #EEE;
	  }
	  .dataSheet{
	  	border-collapse: collapse;
	  }


	  .column-label > th, .row-label{
	  	text-align: center;
	  	background: #EEE;
	  	font-weight: bold;
	  }
	  .row-label{
	  	width: 2em;
	  }
  </style>

  <script src="lib/angular-1.3.15.min.js"></script>
  
</head>
<body>

<div ng-app="bindExample" ng-controller="sheet">
	<button ng-click="addCols()">Add Columns</button>
	<button ng-click="addRows()">Add Rows</button>
	<br/ ><br />
	<table class="dataSheet">
		<thead>
			<tr class="column-label">
				<th></th>
				<th ng-repeat="column in columns">{{column}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in rows">
				<td class="row-label">{{row}}</td>
				<td ng-repeat="column in columns">
					<div>
						<div  ng-model="cells[column+row]"></input>
						<div ng-bind="compute(column+row)" class="output"></div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<script type="text/javascript" src="app.js"></script>
</body>
</html>